#items-cart{
    color:#b8b6b4;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;

}
hr{
    background-color:rgb(216, 203, 189);
    width: 90%;

}
#table-items{
    width: 70%;
}

#valores-compra{
    width: 30%;
    text-align: center;
    height: 400px;
    display: table;
}
.hr-white{
    background-color: #b8b6b4;
    width: 100%;
}
.shop{
    display: flex;
}
@media (max-width: 1000px) {
    .shop {
      display: block;
    }
    #valores-compra{width: 100%;}
    #table-items{width: 100%;}
    #items-cart{display: block;
    }
  }
.tables-cart{
    display: flex;
    width: 100%;
    justify-content: center;
    border-spacing: 0;
    
}
.tr-cart{
    display: flex;
    justify-content: space-around;
}
.header-thead{
    display: table-header-group;
}

.thead-th{
    font-size: 22;
}
.img-store-table{
    width: 100px;
}
p{
    margin:0
}
.table thead th{
    border: none;
}
.table td{
    border-top: 1px solid #dee2e6;
}


.icon-qtd{    transition: 0.2s;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    
}
.icon-qtd:hover{
    background-color: #2a475e    ;
}
#qtd{
    border-radius: 4px;

    text-align: center;
    vertical-align: middle;
    width: 24px;
    background-color: #283f5a;
}
.values{
    justify-content: flex-end;

}
.Cart-Container{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
   }
.buttons-qtd{
    width: 30px;
    height: 20px;
    align-self: center;
    transition: 0.2s;
}
.buttons-qtd:hover{
    background-color: #3d5e79;
}
.quantity{
    font-size: 20px;
}
#remove-item{
    color: rgb(163, 52, 32);
}
#remove-item:hover{
    color: #3d5e79;
}