#nav-bar-cart{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
}
#Logo{
    display: flex;
    align-self: center;
    width: 100%;
}
#nav-cart{
    background-color: green;
    border-radius: 5px;
    display: flex;
    width: 190px;
    height: 70px;
    justify-content: space-around;

}
#nav-cart:hover{
    background-color: rgb(54, 179, 54);

}
@media screen and (max-width: 850px) {
    .toggle{
        display: block;
        color:white;
        width:300px;
        text-align: center;

    }
    #nav-bar-cart{
        justify-content: center;
    }
}
.link,.link:link ,.link:focus{
    text-decoration: none;
      color: #b8b6b4;}
.link:hover{
    text-decoration: none;

    color:white
}

#toggle-button{
    background-color: #b8b6b4;}

