.unique-game{
        border-radius: 5px;
}
.unique-game:hover{
    background-color: #b8b6b4;
    

}
.text-content-game-store{
    background-color: #1b2838;
    color:#b8b6b4

}
.card{
    height: 100%;
    border: 0;
}

